# =========================
# Immich
# =========================
# Public Immich URL
TZ=Asia/Jerusalem
DB_HOSTNAME=database
DB_USERNAME=postgres
DB_PASSWORD=CHANGE_THIS_STRONG_PASSWORD
DB_DATABASE_NAME=immich
IMMICH_CONTAINER_NAME=immich-server
IMMICH_PORT=2283

# =========================
# ImmichFrame
# =========================
IMMICHFRAME_CONTAINER_NAME=immichframe

# =========================
# ImmichFrame Manager
# =========================
IMMICHFRAME_MANAGER_ADMIN_USERNAME=admin
IMMICHFRAME_MANAGER_ADMIN_PASSWORD=CHANGE_THIS_STRONG_PASSWORD

# =========================
# ImmichFrame ConfigUpdater
# =========================
# PROXMOX_HOST=<ip_address>
# PROXMOX_USER=<username>
# PROXMOX_TOKEN=<token>
# PROXMOX_TOKEN_NAME=<token_name>
# PROXMOX_TARGET_CONTAINER_ID=<proxmox_target_container_id>

# =========================
# Public endpoint
# =========================
BASE_DOMAIN=example.com
DEVICE_ID=your-device-id
CLOUDFLARE_TUNNEL_TOKEN=your-cloudflare-tunnel-token