# =========================
# Immich
# =========================
# Public Immich URL
TZ=Asia/Jerusalem
DB_HOSTNAME=database
DB_USERNAME=postgres
DB_PASSWORD=CHANGE_THIS_STRONG_PASSWORD
DB_DATABASE_NAME=immich
IMMICH_CONTAINER_NAME=immich-server
IMMICH_PORT=2283

# =========================
# ImmichFrame
# =========================
IMMICHFRAME_CONTAINER_NAME=immichframe