# =========================
# Immich
# =========================
# Public Immich URL
TZ=Asia/Jerusalem
DB_HOSTNAME=database
DB_USERNAME=postgres
DB_PASSWORD=CHANGE_THIS_STRONG_PASSWORD
DB_DATABASE_NAME=immich
IMMICH_CONTAINER_NAME=immich-server
IMMICH_PORT=2283

# =========================
# ImmichFrame
# =========================
IMMICHFRAME_CONTAINER_NAME=immichframe

# =========================
# ImmichFrame ConfigUpdater
# =========================
# PROXMOX_HOST=<ip_address>
# PROXMOX_USER=<username>
# Proxmox token needs these permissions:
# - /nodes: Sys.Audit
# - /vms/<container_id>: VM.Audit, VM.PowerMgmt
# PROXMOX_TOKEN=<token>
# PROXMOX_TOKEN_NAME=<token_name>
# PROXMOX_TARGET_CONTAINER_ID=<proxmox_target_container_id>

# =========================
# Will added after
# =========================
# BASE_DOMAIN="aghaiofir.win"
# DEVICE_ID="DEVICE_ID_PLACEHOLDER"
# CLOUDFLARE_TUNNEL_TOKEN="CLOUDFLARE_TUNNEL_TOKEN_PLACEHOLDER"